###############
#  Shortcuts  #
###############

snippet c "console.log"
console.log(${1});
endsnippet

snippet t "this"
this.${1}
endsnippet

############
#  Blocks  #
############

snippet con "constructor"
constructor(${1}) {
  ${2}
}
endsnippet

snippet f "function block"
${1}(${2:e}) {
  ${3}
}
endsnippet
